flask
python-dotenv
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langgraph
faiss-cpu
youtube-transcript-api
huggingface-hub
flask-cors
PyMuPDF
python-docx
pypdf
python-pptx
unstructured
sentence-transformers
celery[redis]
redis
